.hero {
    min-height: 80dvh;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: flex-end;
    gap: var(--space-5);
    border: 1px solid;

    h1 {
        .name-heading {
            background-image: var(--color-primary);
            background-clip: text;
            color: transparent;
        }
    }

    padding-bottom: var(--space-1);
}

.hero-img {
    max-width: 220px;
    aspect-ratio: 1 / 1;
    border-radius: 50%;
    object-fit: cover;
    border: 6px solid transparent;
    background: var(--color-primary) border-box;
}

@media (min-width: 60rem) {
    .hero {
        flex-direction: row;
        align-items: center;
        gap: calc(var(--space-7) * 2);
    }

    h1 {
        flex: 2;
    }
    .hero-img {
        flex: 1;
        max-width: 350px;
    }
}
