* {
    margin: 0;
    padding: 0;
}

body {
    min-height: 100dvh;
    line-height: 1.5;
}

img, svg {
    display: block;
    max-width: 100%;
}

button {
    font: inherit;
}

h1, h2, h3 {
    text-wrap: balance;
}